# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Intellij / IDE files
.idea/
out/

gradle-module-plugin/.idea/
gradle-module-plugin/.gradle/
gradle-module-plugin/out/
gradle-module-plugin/build/

generator-core/.idea/
generator-core/.gradle/
generator-core/out/
generator-core/build/

generator-cli/.idea/
generator-cli/.gradle/
generator-cli/out/
generator-cli/build/

gh_key
